<h2 mat-dialog-title>Edit Customer</h2>
<mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Full Name" [(ngModel)]="data.name" name="name">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" [(ngModel)]="data.email" name="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" [(ngModel)]="data.username" name="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" [(ngModel)]="data.password" name="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Address</mat-label>
            <input matInput placeholder="Address" [(ngModel)]="data.address" name="address">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="data.role" name="role">
              <mat-option value="ADMIN" >ADMIN</mat-option>
              <mat-option value="USER" >USER</mat-option>
              <mat-option value="OWNER" >OWNER</mat-option>
            </mat-select>
          </mat-form-field>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-button color="primary" (click)="onUpdate()">Update</button>
</mat-dialog-actions>