<!-- <div class="container">
    <h1>Cars</h1> <a routerLink="addCar" class="btn btn-primary active" role="button" routerLinkActive="active">Add Car</a>
    <table class="table table-hover">
        <thead >
            <tr class="bg-color-dark">
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Model</th>
                <th scope="col">MakeYear</th>
                <th scope="col">Color</th>
                <th scope="col">CarType</th>
                <th scope="col">PlateNumber</th>
                <th scope="col">PricePerDay</th>
                <th scope="col">AvailabilityStatus</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr class="container" *ngFor="let car of cars">
                <td>{{ car.id }}</td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.name }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.name" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.model }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.model" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.makeYear }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="number" [(ngModel)]="car.makeYear" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.color }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.color" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.carType }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.carType" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.plateNumber }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.plateNumber" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.pricePerDay }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="number" [(ngModel)]="car.pricePerDay" />
                </td>
                <td *ngIf="selectedCar?.id !== car.id">{{ car.available ? 'Available': 'Booked' }}</td>
                <td *ngIf="selectedCar?.id === car.id">
                    <input type="text" [(ngModel)]="car.available" />
                </td>
                <td>
                    <button *ngIf="selectedCar?.id !== car.id" class="btn btn-warning active" (click)="editCar(car)">Edit</button>
                    <button *ngIf="selectedCar?.id === car.id" class="btn btn-primary active" (click)="updateCar(car)">Update</button>&nbsp;
                    <button *ngIf="selectedCar?.id === car.id" class="btn btn-danger active" (click)="cancelEdit(car)">Cancel</button> &nbsp;
                    <button class="btn btn-danger active" (click)="deleteCar(car.id)">Delete</button>
                </td>
            </tr>

        </tbody>
    </table>
</div> -->
<mat-form-field>
    <mat-label>Search</mat-label>
    <input  matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
  </mat-form-field> 
<table mat-table class="table table-hover" [dataSource]="dataSource">
    <!-- Define the table columns -->
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let car"> {{car.id}} </td>
      </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let car"> {{car.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="model">
      <th mat-header-cell *matHeaderCellDef> Model </th>
      <td mat-cell *matCellDef="let car"> {{car.model}} </td>
    </ng-container>
  
    <ng-container matColumnDef="makeYear">
      <th mat-header-cell *matHeaderCellDef> MakeYear </th>
      <td mat-cell *matCellDef="let car"> {{car.makeYear}} </td>
    </ng-container>

    <ng-container matColumnDef="carType">
        <th mat-header-cell *matHeaderCellDef> CarType </th>
        <td mat-cell *matCellDef="let car"> {{car.carType}} </td>
      </ng-container>
    
      <ng-container matColumnDef="color">
        <th mat-header-cell *matHeaderCellDef> Color </th>
        <td mat-cell *matCellDef="let car"> {{car.color}} </td>
      </ng-container>
    
      <ng-container matColumnDef="plateNumber">
        <th mat-header-cell *matHeaderCellDef> PlateNumber </th>
        <td mat-cell *matCellDef="let car"> {{car.plateNumber}} </td>
      </ng-container>

      <ng-container matColumnDef="pricePerDay">
        <th mat-header-cell *matHeaderCellDef> PricePerDay </th>
        <td mat-cell *matCellDef="let car"> {{car.pricePerDay}} </td>
      </ng-container>
    
      <ng-container matColumnDef="availabilityStatus">
        <th mat-header-cell *matHeaderCellDef> AvailabilityStatus </th>
        <td mat-cell *matCellDef="let car"> {{car.availabilityStatus }} </td>
      </ng-container>
    
  
    <!-- Use the `mat-header-row` and `mat-row` directives to define the table headers and rows -->
    <tr mat-header-row  *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
</table>
  