.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  .table-container {
    overflow: auto;
    /* max-height: 400px; */
  }

  .mat-header-cell {
    position: sticky;
    top: 0;
    /* background-color: #2196F3; */
    /* color: white; */
    font-weight: bold;
  }