.bg-image-vertical {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right center;
    background-size: auto 100%;
    }
    
    @media (min-width: 1025px) {
    .h-custom-2 {
    height: 100%;
    }
    }

    .login-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        height: 100vh; /* Set the height of the container to fill the viewport */
      }
      .container {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }

      .login-btn {
        background-color: #2187f3;
        color: white;
      }
      
      .register-btn {
        background-color: #da71ab;
        color: white;
      }
      .register-msg {
        font-size: 18px;
        color: #757575;
        margin-top: 8px;
        text-align: center;
      }
      
      .register-msg a {
        color: #b90a0a;
        /* text-decoration: none; */
      }
      
      
      
      
      
      .form-container{
        background-color: #000;
        /* background-image: url('/images/darkbg2.jpg'); */
        display: flex;
        justify-content: center;
        height: 100vh;
        box-sizing: border-box;  
    }
    .form{
        width: 400px;
        height: 330px;
        background-color: #15172b;
        padding: 20px;
        display: table;  /*I need to remember it*/
    }
    
    .login{
        margin-top:90px;
    }
    
    .signup{
        margin-top:30px
    }
    
    .title{
        font-size: 24px;
        font-weight: 600;
        margin-top:10px;
        color: #eee;
    }
    
    .input-container{
        height: 40px;
        width: 100%;
        position: relative;
        margin-top: 20px;
    }
    
    .input{
        background-color: #303245;
        border: 0;
        box-sizing: border-box;
        color: #eee;
        font-size: 14px;
        height: 100%;
        outline: 0;
        padding: 4px 20px;
        width: 100%;
    }
    
    
    button{
        border:0;
        background-color: rgb(131 10 97);
        box-sizing: border-box;
        color:#eee;
        font-size: 18px;
        height: 40px;
        text-align: center;
        margin-top: 20px;
        width:100%;
    }
    
    button:hover{
       color:  rgb(131 10 97);
       background-color: #eee;
       cursor: pointer;
    }
    
    .msg{
        padding-top:10px;
        font-size: 15px;
    }
    
    
    .error{ color: rgb(216, 5, 5);}
    .success{ color:rgb(0, 54, 0);}
    .light{ color:white;}
    
    .link{
        text-decoration: none;
        color: white;
        padding-top: 10px;
        font-size: 16px;
        display: block;
    }
    .link:hover{
        color:aquamarine;   
    }