<!-- 
<mat-card class="login-card">
  <mat-card-title>Login</mat-card-title>
<mat-card-content>
<form  (ngSubmit)="doLogin()">
 <div >
  <mat-form-field>
    <input type="text" matInput placeholder="Username" name="username" [(ngModel)]="username" >
  </mat-form-field>

  <mat-form-field>
    <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="password" >
  </mat-form-field> -->
<!-- <p *ngIf="error" class="error">  {{ error }}</p> -->

  <!-- <button class="login-btn" type="submit" mat-button>Login</button>
  <p class="register-msg">New customer? <a routerLink="/register">Register here</a></p> -->
  <!-- <button type="submit" mat-button >Login</button>
   <div *ngIf="errormsg!=''">
       {{errormsg}}
   </div>
     <a routerLink="/register" class="link">Not a member? Register here</a>

    </div>


</form>
</mat-card-content>
</mat-card> -->

<div class="form-container">
  <div class="form login">
      <form [formGroup]="frm" (ngSubmit)="doLogin()">
      <div class="title">
         Login
      </div>
      <div class="input-container"> 
         <input type="text" name="username" formControlName="username" class="input" placeholder="Username">
     </div>
     <div class="msg error" *ngIf="f['username'].invalid && (f['username'].dirty || f['username'].touched)">
      <span *ngIf="f['username'].errors?.['required']">
          Username is required  
    </span>
   </div>
  
     <div class="input-container"> 
         <input type="password" name="password" formControlName="password" class="input" placeholder="Password">
     </div>
     <div class="msg error" *ngIf="f['password'].invalid && (f['password'].dirty || f['password'].touched)">
      <span *ngIf="f['password'].errors?.['required']">
          Password is required  
    </span>
    </div>
  
     
     <button type="submit" id="btnSubmit">Login</button>
     <div class="msg light" *ngIf="errormsg!=''">
         {{errormsg}}
     </div>
       <a routerLink="/register" class="link">Not a member? Signup here</a>
      </form>
  </div>
  </div>