<div class="container">
  <!--<h2>{{title}}</h2>-->
  <h2 align="center">Welcome To Car Booking App</h2>
   <hr>
   <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark"> -->
       <!-- Links -->
       <!-- <ul class="navbar-nav ">
         <li class="nav-item mr-auto">
             <a routerLink="login" class="btn btn-primary active" role="button" routerLinkActive="active">Login</a>
         </li>
         <li class="nav-item mr-auto" style="margin-left: 10px;">
             <a routerLink="add" class="btn btn-primary active" role="button" routerLinkActive="active">New User</a>
         </li>
       </ul>  -->
     <!-- </nav> -->
    
    
      <app-home *ngIf="authService.isAuthenticated | async"></app-home>
    
    
  
   <router-outlet></router-outlet>
 </div>