/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}
/* 

/* Customize the table header appearance */

/* Override the default Material theme variables */
/* $mat-light-theme-background: (
  app-bar: #f5f5f5,
  background: #fff,
  hover: rgba(0, 0, 0, 0.04),
  card: #fff,
  dialog: #fff,
  disabled-button: rgba(0, 0, 0, 0.12),
  raised-button: #fff,
  focused-button: rgba(0, 0, 0, 0.12),
  selected-button: rgba(0, 0, 0, 0.08),
  input: #fff,
); */

/* Apply the light theme to the Angular Material table */
/* @include mat-core();
@include angular-material-theme($mat-light-theme); */
